<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<Environments>

    <Environment name="DEV2">
        <Parameter key="fssrURL" value="https://southwestairlinesafety.my.salesforce.com/"/>
        <Parameter key="fssrLoginUser" value="anup.pandit@wnco.com"/>
        <Parameter key="fssrPassword" value="Acp#2135"/>
    </Environment>
    <Environment name="DEV">
        <Parameter key="fssrURL" value="https://southwestairlinesafety--dev.lightning.force.com/"/>
        <Parameter key="fssrLoginUser" value="anup.pandit@wnco.com.dev"/>
        <Parameter key="fssrPassword" value="Acp@2135"/>
    </Environment>

    <Environment name="QA-FO">
        <Parameter key="swalifeURL" value="https://swalifeqa.com/"/>
        <Parameter key="swaLifeUser" value="e91083"/>
        <Parameter key="swaLifeManager" value="e97729"/>
        <Parameter key="swaLifePassword" value="1Sat1111"/>
        <Parameter key="swaLifeManagerUID" value="ut"/>
        <Parameter key="swaLifeManagerPassword" value="demo"/>
        <Parameter key="asapReportLinkPath" value="wps/portal/swalife/mywork/flightops/forms/asap2"/>
        <Parameter key="asapManagerReportLinkPath" value="wps/portal/swalife/mywork/flightops/forms/asap/manager"/>
    </Environment>
    <Environment name="DEV-FO">
        <Parameter key="swalifeURL" value="https://www.swalifedev.com/wps/myportal/swalife/mywork/flightops/forms/asap2"/>
        <Parameter key="swaLifeUser" value="e91083"/>
        <Parameter key="swaLifeManager" value="e97729"/>
        <Parameter key="swaLifePassword" value="1Dev1111"/>
        <Parameter key="swaLifeManagerUID" value="ut"/>
        <Parameter key="swaLifeManagerPassword" value="demo"/>
        <Parameter key="asapReportLinkPath" value=""/>
        <Parameter key="asapManagerReportLinkPath" value="wps/portal/swalife/mywork/flightops/forms/asap/manager"/>
    </Environment>

    <Environment name="QA-IF">
        <Parameter key="swalifeURL" value="https://swalifeqa.com/"/>
        <Parameter key="swaLifeUser" value="e11343"/>
        <Parameter key="swaLifeManager" value="e131308"/>
        <Parameter key="swaLifePassword" value="1Sat1111"/>
        <Parameter key="swaLifeManagerUID" value="ut"/>
        <Parameter key="swaLifeManagerPassword" value="demo"/>
        <Parameter key="asapReportLinkPath" value="/wps/portal/swalife/mywork/inflight/crewtools/asap/launchasap"/>
        <Parameter key="asapManagerReportLinkPath" value="wps/portal/swalife/mywork/flightops/forms/asap/manager"/>
    </Environment>

    <Environment name="QA-MX">
        <Parameter key="swalifeURL" value="https://swalifeqa.com/"/>
        <Parameter key="swaLifeUser" value="e22574"/>
        <Parameter key="swaLifeManager" value="e85016"/>
        <Parameter key="swaLifePassword" value="1Sat1111"/>
        <Parameter key="swaLifeManagerUID" value="ut"/>
        <Parameter key="swaLifeManagerPassword" value="demo"/>
        <Parameter key="asapReportLinkPath" value="/wps/portal/swalife/mywork/inflight/crewtools/asap/launchasap"/>
        <Parameter key="asapManagerReportLinkPath" value="wps/portal/swalife/mywork/flightops/forms/asap/manager"/>
    </Environment>

    <Environment name="QA-DP">
        <Parameter key="swalifeURL" value="https://swalifeqa.com/"/>
        <Parameter key="swaLifeUser" value="e97009"/>
        <Parameter key="swaLifeManager" value="e49042"/>
        <Parameter key="swaLifePassword" value="1Sat1111"/>
        <Parameter key="swaLifeManagerUID" value="ut"/>
        <Parameter key="swaLifeManagerPassword" value="demo"/>
        <Parameter key="asapReportLinkPath" value=""/>
        <Parameter key="asapManagerReportLinkPath" value=""/>
    </Environment>

    <Environment name="QA-GoMOM">
        <Parameter key="swalifeURL1" value="https://www14.swalifeqa.com/SwaGoMomEarWeb/momModule/retrieveSearchReportsAction.do?eipUseHeaders=Y"/>
        <Parameter key="swalifeURL" value="https://www14.swalifeqa.com/SwaGoMomEarWeb/momModule/enterIncompleteReportsAction.do?eipUseHeaders=Y"/>
        <Parameter key="GoMOMUser" value="x220626"/>
        <Parameter key="GoMOMAdmin" value="x220626"/>
        <Parameter key="swaLifePassword" value="1Sat1111"/>

    </Environment>


    <Environment name="QA1-FO">

        <Parameter key="asapFOUserID" value="e91083"/>
        <Parameter key="asapFOManagerID" value="e91083"/>
        <Parameter key="asapFOManagerIDSecondary" value="ut"/>
        <Parameter key="asapFOManagerPWDSecondary" value="demo"/>
        <Parameter key="asapFOUSERurl" value="https://www.swalifeqa.com/wps/myportal/!ut/p/a0/04_Sj9CPykssy0xPLMnMz0vMAfGjzOIDHL2NPAwtjLzdQw2dDAJNDSy8_IycPMKMTfULsh0VASiphAw!/"/>
        <Parameter key="asapFOManegerurl" value="https://asap.swalifeqa.com/ASAP-FO/FO-Manager/login.aspx"/>
        <Parameter key="swaLifePassword" value="1Sat1111"/>
    </Environment>

    <Environment name="QA1-IF">

        <Parameter key="asapIFUserID" value="e11343"/>
        <Parameter key="asapIFManagerID" value="e131308"/>
        <Parameter key="asapIFManagerIDSecondary" value="ut"/>
        <Parameter key="asapIFManagerPWDSecondary" value="demo"/>
        <Parameter key="asapIFUSERurl" value="https://www.swalifeqa.com/wps/myportal/!ut/p/a0/04_Sj9CPykssy0xPLMnMz0vMAfGjzOIDHL2NPAwtjLwNAgMNDAItw5ydfEL8jZyNDfQLsh0VAbOI8Ss!/"/>
        <Parameter key="asapIFManegerurl" value="https://asap.swalifeqa.com/ASAP-IF/IF-Manager/login.aspx"/>
        <Parameter key="swaLifePassword" value="1Sat1111"/>
    </Environment>

    <Environment name="QA1-DP">

        <Parameter key="asapDPUserID" value="e97009"/>
        <Parameter key="asapDPManagerID" value=" e49042"/>
        <Parameter key="asapDPManagerIDSecondary" value="ut"/>
        <Parameter key="asapDPManagerPWDSecondary" value="demo"/>
        <Parameter key="asapDPUSERurl" value="https://asap.swalifeqa.com/ASAP-DP/DP-User/"/>
        <Parameter key="asapDPManegerurl" value="https://asap.swalifeqa.com/ASAP-DP/DP-Manager"/>
        <Parameter key="swaLifePassword" value="1Sat1111"/>
    </Environment>

    <Environment name="QA1-MX">

        <Parameter key="asapMXUserID" value="e22574"/>
        <Parameter key="asapMXManagerID" value="e85016"/>
        <Parameter key="asapMXManagerIDSecondary" value="ut"/>
        <Parameter key="asapMXManagerPWDSecondary" value="demo"/>
        <Parameter key="asapMXUSERurl" value="https://asap.swalifeqa.com/ASAP-MX/MX-User/"/>
        <Parameter key="asapMXManegerurl" value="https://asap.swalifeqa.com/ASAP-MX/MX-Manager"/>
        <Parameter key="swaLifePassword" value="1Sat1111"/>
    </Environment>

</Environments>
