<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<Environments>

    <Environment name="DEV">

        <!-- OQS Url -->
        <Parameter key="oqsUrl" value="https://xldcrewt03.swacorp.com:13003/oqs-record-keeping-ui/login.do?dept=01"/>
        <!-- OQS Login User-->
        <Parameter key="oqsLoginUser" value="72451"/>

        <!-- TRiM Application Path -->
        <Parameter key="trimAppPath" value="C:\Program Files (x86)\North Orca\TRiM\TRiM.exe"/>
        <!-- TRiM Login User -->
        <Parameter key="trimLoginUser" value="admin"/>
        <!-- TRiM Login Password -->
        <Parameter key="trimLoginPassword" value="5d758d6fd8ea5344ae07e5bd1a8ca8587f8196f174a2"/>

        <Parameter key="rosaUrl" value="https://apmlogin.cis.qa.swacorp.com/swa_login.htm"/>
        <Parameter key="rosaUserid" value="e56235"/>
        <Parameter key="rosaPassword" value="1Sat1111"/>

        <Parameter key="cssPath" value="C:\\Users\\x257093\\Desktop\\CSSPLT DEV12\\CSSPLT-DEV12.lnk"/>
        <Parameter key="cssWindowTitle" value="(PLT)CSS Client 21 dev12 - Super User - Default Desktop"/>
        <Parameter key="cssUserid" value="super"/>
        <Parameter key="cssPassword" value="test"/>

    </Environment>
    <Environment name="QA">

        <!-- OQS Url -->
        <Parameter key="oqsUrl" value="https://xlqcrewt03.swacorp.com:13003/oqs-record-keeping-ui/login.do?dept=01"/>
        <!-- OQS Login User-->
        <Parameter key="oqsLoginUser" value="72451"/>

        <!-- TRiM Application Path -->
        <Parameter key="trimAppPath" value="C:\Program Files (x86)\North Orca\TRiM\TRiM.exe"/>
        <!-- TRiM Login User -->
        <Parameter key="trimLoginUser" value="admin"/>
        <!-- TRiM Login Password -->
        <Parameter key="trimLoginPassword" value="admin123"/>

        <Parameter key="rosaUrl" value="https://rosa-qa.swacorp.com"/>
        <Parameter key="rosaUserid" value="e56235"/>
        <Parameter key="rosaPassword" value="1Sat1111"/>

        <!--<Parameter key="cssPath" value="C:\CSSPLT SAT02\CSSPLT-AOS SAT02.lnk"/>-->
        <Parameter key="cssPath" value="C:\Users\x257093\Desktop\CSSPLT SAT - Copy\CSSPLT-SAT.lnk"/>
        <Parameter key="cssWindowTitle" value="(PLT)CSS Client 36 sat - Super User - Default Desktop"/>
        <Parameter key="cssUserid" value="e117340"/>
        <Parameter key="cssPassword" value="1Sat1111"/>

        <Parameter key="sasiUrl" value="http://xlqsky01:12216/sasi/sasi-paradise.html"/>
    </Environment>

</Environments>
